@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    /* Evitar scroll horizontal */
}

header {
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

button.menu-toggle {
    background-color: #0f2027;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 10px;
    transition: background-color 0.3s;
    width: 150px;
    border-radius: 5px;
}

button.menu-toggle:hover {
    background-color: #203a43;
}

nav.menu {
    position: absolute;
    top: 50px; /* Ajuste a posição do menu */
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 200px;
    max-height: 0; /* O menu começa sem altura */
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    z-index: 999;
    border-radius: 5px;
}

nav.menu.active {
    max-height: 400px; /* Define a altura quando ativado */
    opacity: 1;
}

nav.menu ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: block;
    flex-direction: column;
}

nav.menu ul li {
    padding: 5px 0;
}

nav.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    display: block;
    padding: 5px 10px;
    text-align: center;
    transition: background-color 0.3s;
}

nav.menu ul li a:hover {
    background-color: #ff5722;
    border-radius: 5px;
}





ul.menu {
    display: none;
    /* Menu escondido por padrão */
}

ul.menu.active {
    display: block;
    /* Mostra o menu quando a classe 'active' é adicionada */
}


.menu-toggle {
    z-index: 1000;
    /* Certifique-se de que o botão está no topo */
}