@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden; /* Evitar scroll horizontal */
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Isso vai garantir que os itens possam quebrar linha, se necessário */
    width: 100%;
}

nav ul li {
    margin: 10px; /* Adiciona um espaço entre os itens para evitar sobreposição */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    z-index: 1;
    padding: 10px 20px; /* Aumenta o espaço dentro dos itens para mantê-los uniformes */
    min-width: 120px; /* Define uma largura mínima para os itens */
    text-align: center;
    transition: color 0.3s;
    border-radius: 10px;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(0, 26, 255, 0.4), rgba(212, 205, 212, 0.4));
    z-index: -1;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

nav ul li a:hover {
    color: #fff;
}


/* Menu escondido em telas menores */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }
}

/* Container do Formulário */
.form-container {
    width: 90%;
    max-width: 600px;
    padding: 2rem;
    text-align: center;
    margin-top: 120px; /* Ajustado para caber com o header */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left; /* Mantém alinhamento à esquerda */
}

.input-group label {
    margin-bottom: 0.5rem;
    color: white;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fbfbfb;
    font-size: 1rem;
}

.input-group input::placeholder {
    color: #ccc;
}

.input-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

button {
    width: 100%; /* O botão ocupa toda a largura */
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0b84a5;
}

button:focus {
    outline: none;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1001;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.custom-alert.show {
    display: block; /* Mostrar quando a classe 'show' é adicionada */
}

.custom-alert button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #1c92d2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.custom-alert button:hover {
    background-color: #0b84a5;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .form-container {
        margin-top: 140px; /* Ajuste para telas menores */
        padding: 1.5rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 14px; /* Redução do tamanho da fonte */
        padding: 8px 12px; /* Ajuste de padding para telas menores */
    }
}

@media (max-width: 480px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .form-container {
        max-width: 90%;
        padding: 1rem;
    }

    button {
        padding: 0.5rem; /* Ajuste para botões em telas menores */
    }
}
