@import url(./base.css);

@media (max-width: 768px) {
    nav ul {
        display: none; /* Oculta o menu em telas menores que 768px */
    }
}

main {
    margin-top: -600px; /* To ensure it doesn't overlap with the header */
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    color: white;
}

.details-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    text-align: left;
}

.details-container .input-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.details-container .input-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.details-container .input-group input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
}
