@import url(./base.css);

.iframe-layer {
    width: 800px;
    height: 700px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.iframe-layer-carros {
    width: 1000px;
    height: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.iframe-layer1 {
    width: 650px;
    height: 550px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.iframe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.iframe-content h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}
.iframe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.iframe-layer1 .iframe-content {
	color: white;
}

.iframe-content1 h1 {
    margin: 0;
    font-size: 24px;
    color:white;
}

.iframe-content p {
    margin: 10px 0 0;
    color: #666;
}

.validation {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.validation label {
    margin-right: 10px;
}

.validation input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.validation button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.validation button:hover {
    background-color: #0056b3;
}


.iframe-content h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}
.iframe-content p {
    margin: 10px 0 0;
    color: white;
}