@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
    padding: 10px 15px;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(0, 26, 255, 0.4), rgba(212, 205, 212, 0.4));
    z-index: -1;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

nav ul li a:hover {
    color: #fff;
}
@media (max-width: 768px) {
    nav ul {
        display: none; /* Oculta o menu em telas menores que 768px */
    }
}

main {
    margin-top: 100px; /* To ensure it doesn't overlap with the header */
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: rgba(255, 255, 255, 0.1);
}

td {
    background-color: rgba(255, 255, 255, 0.05);
}

td:nth-child(2)::before, td:nth-child(3)::before {
    content: " | ";
    color: #fff;
    margin-right: 5px;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    color: #fff;
}

button.edit {
    background-color: #4CAF50;
}

button.details {
    background-color: #2196F3;
}

button.delete {
    background-color: #f44336;
}

button:hover {
    opacity: 0.8;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1001;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.custom-alert button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #1c92d2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.custom-alert button:hover {
    background-color: #0b84a5;
}
