body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
    overflow-x: hidden;
    position: relative;
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #FFF;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #4CAF50;
    color: #fff;
}

main {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 40px auto;
    width: 85%;
    max-width: 1200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 3em;
    color: #FFD700;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.presentation {
    font-size: 1.2em;
    color: #DCDCDC;
    margin-top: 30px;
    text-align: left;
    padding: 20px;
    border-left: 4px solid #4CAF50;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.presentation p {
    margin: 15px 0;
}

.tech-background img {
    width: 120px;
    height: auto;
    border-radius: 15%;
    position: absolute;
    animation: float 10s ease-in-out infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    z-index: -1;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 100%;
    background: url('../images/wave_1.png') repeat-x;
    opacity: 0.7;
    animation: wave 8s linear infinite;
}

.wave:nth-child(2) {
    bottom: 15px;
    background: url('../images/wave_2.png') repeat-x;
    opacity: 0.6;
    animation-duration: 6s;
}

.wave:nth-child(3) {
    bottom: 30px;
    background: url('../images/wave_3.png') repeat-x;
    opacity: 0.4;
    animation-duration: 10s;
}

@keyframes wave {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.text {
    font-size: 14px;
    color: #DCDCDC;
}

.link {
    color: #FFD700;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #4CAF50;
}
